th, td {
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
  padding: 5px;

}

table {
  border: 1px solid;
  border-radius: 5px;
  box-shadow: inset 1px 1px 5px black;
  padding: 20px;
  width: 100%;
}

th {
  border: 1px solid white;
  padding: 15px;
  background-color: #333333;
  color: #eef2f5
}

button {
  padding: 10px;
  border-radius: 5px;
  width: 90%;
  background-color: #eef2f5;
  color: #333333;
  box-shadow: 1px 1px 5px #333333;
}

button:hover {
  background-color: #333333;
  color: #eef2f5;
}

button:active {
  background-color: lightgray;
  color: #333333;
  ;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.tableContainer {
  flex: 1;
  border-radius: 15px;
  width: 60%;
}
