#singleProductContainer {
  margin: auto;
  width: 90%;
  padding: 10px;
}

/* .singleProductTitle {
} */
.singleProductImage {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 50px 1px #00000058;
}

.singleProductImageAndDescription {
  display: flex;
}
/* .singleProductDescription {
} */

.singleProductDetails {
  margin: 20px;
  width: 75%;
}
/* .singleProductPrice {
} */

.addButton {
  background-color: rgb(40, 156, 191);
  font-size: 18px;
  color: white;
  padding: 10px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #ababab;
  width: 250px;
  height: 75px;
  margin-top: 5%;
}

.addButton:hover  {
  background-color: rgb(40, 156, 191);
  opacity: 0.8;
}
